body{
    background-color: #e5e5e5; 
}
#articles {
    background-color: #dbdbdb;
    overflow: scroll;
    width:300px;
    height:600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #212325;
    list-style: none;
    position: absolute;
    top: 120px;
    right:0px;       
   
}
#title{
    padding-right: 6.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: 110;
    color: #212325;
    position: absolute;
    right: 0px;
}
#Source_bar_Heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 90;
}
#Source_Bar{
    margin-top: 0%;
    float: left;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 400px;
    overflow: scroll;
    line-height: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212325;
    background-color: #dbdbdb;
    margin-bottom: 30%;
    position: static; 

}

#user_input{
    float: left;
    line-height: 2.5;
    position: absolute;
    left: 0px;
    top: 500px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 120;
    background-color: #e5e5e5;
    color: #212325;
    font-size: 36px;
    margin: 0%;
    padding: 0%;
}
#main_articles{  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 120;
    list-style: none;
    line-height: 1.5;
    color: #212325;
    position: absolute;
    width: 905px;
}


#main_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212325;
    font-size: 21px;
    font-weight: 110;
}
#main_id{
    position: absolute;
    top:60px;
    left:320px;

}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e5e5e5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #aeaeaf;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }