{% extends 'base.html' %}
{%  block content %}
<h1><center><u>RSS Feed Reader With Recommendations</u></center></h1>
<form method="POST"> {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='Show Articles' />
</form>


    <ul>
    {% for i in Source %}
    <li><a href=http://127.0.0.1:8000/{{forloop.counter}}>{{i.name}}</a></li>
    {% endfor %}




<h2>Articles</h2>

<a href={{link1}}><h4>{{title1}}</h4></a>
<p>{{description1}}</p>

<a href={{link2}}><h4>{{title2}}</h4></a>
<p>{{description2}}</p>

<a href={{link3}}><h4>{{title3}}</h4></a>
<p>{{description3}}</p>

<a href={{link4}}><h4>{{title4}}</h4></a>
<p>{{description4}}</p>

<a href={{link5}}><h4>{{title5}}</h4></a>
<p>{{description5}}</p>

<a href={{link6}}><h4>{{title6}}</h4></a>
<p>{{description6}}</p>

<a href={{link7}}><h4>{{title7}}</h4></a>
<p>{{description7}}</p>

<a href={{link8}}><h4>{{title8}}</h4></a>
<p>{{description8}}</p>

<a href={{link9}}><h4>{{title9}}</h4></a>
<p>{{description9}}</p>

<a href={{link10}}><h4>{{title10}}</h4></a>
<p>{{description10}}</p>

<h2>Recommended Articles</h2>

<a href={{1link}}><h4>{{1title}}</h4></a>
<p>{{1description}}</p>

<a href={{2link}}><h4>{{2title}}</h4></a>
<p>{{2description}}</p>

<a href={{3link}}><h4>{{3title}}</h4></a>
<p>{{3description}}</p>

<a href={{1_link}}><h4>{{1_title}}</h4></a>
<p>{{1_description}}</p>

<a href={{2_link}}><h4>{{2_title}}</h4></a>
<p>{{2_description}}</p>


{% endblock %}
